.card {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.totalcases {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    padding: 10px 0px 0px 10px;
    width: 220px;
    height: 120px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 4px 3px black;
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px black;
}

.active {
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 10px 0px 0px 10px;
    width: 220px;
    height: 120px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 4px 3px black;
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px black;
}

.recovered {
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 10px 0px 0px 10px;
    width: 220px;
    height: 120px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 4px 3px black;
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px black;
}

.deaths {
    display: flex;
    flex-direction: column;
    background-color: maroon;
    padding: 10px 0px 0px 10px;
    width: 220px;
    height: 120px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 4px 3px black;
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px black;
}

@media(max-width:500px) {
    .card {
        grid-template-columns: auto;
    }
}